.wrapper {
    max-width: 1200px;
    margin: 0 auto;
}


/* .start-screen {
    display: grid;
    background-color: aqua;
    height: 908px;
    margin: 0 auto;
} */

body {
    font-family: 'Arial';
    font-style: normal;
    font-size: 15px;
    line-height: 160%;
    font-weight: normal;
    color: #4C4C4C;
}


/* Header style start*/

.header {
    /* display: flex; */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}

.header_wrapper {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding-top: 64px;
    height: 60px;
}

li {
    list-style-type: none;
    /* Убираем маркеры */
}

a {
    text-decoration: none;
}

.header_list {
    display: flex;
    flex-wrap: wrap;
    justify-items: flex-end;
}

.header_item {
    margin-right: 35px;
}

.header_item:last-child {
    margin-right: 0px;
}

.header_link:first-of-type {
    color: #FAFAFA;
    /* color-primary */
    border-bottom: 3px solid #F1CDB3;
}

.header_link {
    /* width: 58px;
    height: 24px; */
    color: #CDCDCD;
    font-weight: 400;
    font-size: 15px;
    line-height: 160%;
}

.header_link:hover,
.header_link:focus,
.header_link:active {
    opacity: .75;
}


/* Header style end*/


/* nav {
    justify-content: flex-end;
} */


/* Start screen style */

.start_screen_content {
    height: 908px;
    /* height: 100vh; */
    background: url(../Shelter/images/start-screen-background.svg) no-repeat center;
    background: url(../Shelter/images/start-screen-gradient-background.svg) no-repeat center;
    background-size: cover;
}

.btn {}

.content_wrapper {
    /* display: flex; */
    /* flex-flow: row wrap; */
    /* Then we define how is distributed the remaining space */
    /* justify-content: space-around; */
}

.content {
    /* flex-direction: column; */
    /* padding-left: 31px; */
    padding-top: 343px;
    padding-right: 40px;
    background-color: transparent;
}

.start_screen_title {
    margin-bottom: 42px;
    font-family: 'Georgia';
    color: #FFFFFF;
    /* ??????????? no 319? */
    max-width: 400px;
    font-weight: 400;
    font-size: 44px;
    line-height: 130%;
}

.start_screen_text {
    /* padding-top: 42px; */
    max-width: 460px;
    margin-bottom: 42px;
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 160%;
    /* color-dark-s */
    color: #CDCDCD;
}

.start_screen_btn {
    padding-top: 42px;
    display: flex;
    align-items: center;
    justify-content: center;
    white-space: nowrap;
    padding: 15px 45px;
    width: 207px;
    height: 52px;
    background: #F1CDB3;
    border-radius: 100px;
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 130%;
    /* identical to box height, or 22px */
    letter-spacing: 0.06em;
    /* color-dark-3xl */
    color: #292929;
}

.start_screen_puppy {
    padding-top: 180px;
    padding-right: 40px;
    float: right;
    background-size: cover;
    width: 698px;
    height: 728px;
    bottom: 0px;
    /* position: absolute; */
}


/* End screen style */


/*Start About section*/

.abount_content {
    min-height: 588px;
}

.about_content_wrapper {
    display: flex;
    flex-direction: row;
    /* justify-content: space-between; */
}

.about_pets_image {
    height: 408px;
    width: 300px;
    padding-top: 80px;
    padding-left: 215px;
    padding-right: 120px;
}

.about_content_information {
    padding-top: 94px;
}

.about_title {
    color: #545454;
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 35px;
    line-height: 130%;
}

.about_text {
    width: 430px;
    height: 96px;
    top: 115px;
    /* paragraph-l */
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 160%;
    /* or 24px */
    /* color-dark-xl */
    color: #4C4C4C;
}


/*End About section*/


/*Start Pets section*/

.help_wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
}

.pets {
    background: #F6F6F6;
    height: 877px;
}

.pets_wrapper {
    display: flex;
    flex-direction: column;
    row-gap: 60px;
    align-items: center;
}

.pets_title {
    max-width: 400px;
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 35px;
    line-height: 130%;
    letter-spacing: 0.06em;
    /* or 45px */
    /* color-dark-l*/
    color: #545454;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 270px;
    height: 435px;
    left: 105px;
    top: 0px;
    background: #FAFAFA;
    border-radius: 9px;
}

.pet_name {
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    /* identical to box height */
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    /* color-dark-l */
    color: #545454;
}

.main_pets_btn {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px 45px;
    /* gap: 10px;
    width: 261px;
    height: 52px;
    left: 470px;
    top: 645px; */
    /* color-primary */
    background: #F1CDB3;
    border-radius: 100px;
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 130%;
    /* identical to box height, or 22px */
    letter-spacing: 0.06em;
    /* color-dark-3xl */
    color: #292929;
}

.card_btn {
    box-sizing: border-box;
    /* Auto layout */
    /* align-items: center; */
    padding: 15px 45px;
    gap: 10px;
    width: 187px;
    height: 52px;
    /* color-primary */
    border: 2px solid #F1CDB3;
    border-radius: 100px;
    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;
}

.cards_wrapper {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-column-gap: 90px;
    align-items: center;
}


/* start help section*/

.help_title {
    width: 308px;
    /* h3 */
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 35px;
    line-height: 130%;
    /* or 45px */
    letter-spacing: 0.06em;
    /* color-dark-l */
    color: #545454;
}

.help_list {
    display: flex;
    padding-left: 127px;
    padding-right: 127px;
    flex-wrap: wrap;
    /* display: grid; */
    gap: 120px;
    /* grid-template-columns: repeat(5, 1fr);
    grid-column-gap: 120px; */
    justify-content: center;
    /* grid-template-rows: repeat(9, 113px);
    height: 281px;
    /* width: 1026px; */
}


/*end help section*/


/*start donation section*/

.donation {
    height: 462px;
    background: #F6F6F6;
}

.donation_wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.donation_dog {
    width: 505px;
    height: 261px;
    padding-top: 91px;
    padding-right: 30px;
}

.donation_title {
    padding-top: 80px;
    width: 330px;
    height: 90px;
    /* h3 */
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 35px;
    line-height: 130%;
    /* or 45px */
    display: flex;
    align-items: center;
    letter-spacing: 0.06em;
    /* color-dark-l */
    color: #545454;
}

.donation_text {
    width: 330px;
    height: 17px;
    /* h5 */
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 110%;
    /* identical to box height, or 17px */
    /* color-dark-l */
    color: #545454;
}

.legal_information {
    width: 380px;
    height: 72px;
    /* donation-description */
    font-family: 'Arial';
    font-style: italic;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    /* color-dark-m */
    color: #B2B2B2;
}


/*end donation section*/


/*start footer section*/

.footer {
    height: 350px;
    background-image: url(../Shelter/images/footer-background.svg);
    background-image: url(../Shelter/images/footer-gradient-background.svg);
    background-size: cover;
}

.footer_content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.footer_title {
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 35px;
    line-height: 130%;
    /* or 45px */
    letter-spacing: 0.06em;
    /* color-light-xl */
    color: #FFFFFF;
}

.footer_inf {
    /* h4 */
    width: 290px;
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 115%;
    /* identical to box height, or 23px */
    letter-spacing: 0.06em;
    /* color-primary */
    color: #F1CDB3;
}

.footer_dog {
    padding-top: 40px;
}

.icon_wrapper {
    display: flex;
    flex-direction: row;
}

.icon {
    padding-right: 20px;
    max-width: 40px;
    height: 26px;
}

.footer_info {
    /* display: grid; */
    display: flex;
    flex-direction: column;
    justify-content: center;
}