.abount_content {
    min-height: 588px;
}

.about_content_wrapper {
    display: flex;
    flex-direction: row;
    /* justify-content: space-between; */
}

.about_pets_image {
    height: 408px;
    // width: 300px;
    padding-top: 80px;
    padding-left: 215px;
    padding-right: 120px;
}

.about_content_information {
    padding-top: 94px;
}

.about_title {
    color: $color-dark-grey-text;
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 3.5rem;
    line-height: 130%;
}

.about_text {
    width: 430px;
    height: 96px;
    top: 115px;
    /* paragraph-l */
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 1.5rem;
    line-height: 160%;
    /* or 24px */
    /* color-dark-xl */
    color: $color-about-text;
}