.header-screen {
    background: url(../../assets/images/start-screen-background.svg) no-repeat center;
    background: url(../../assets/images/start-screen-gradient-background.svg) no-repeat center;
    background-size: cover;
}

.cozy-house {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: $color-peach;
    font-weight: 400;
    font-size: 3.2rem;
    line-height: 110%;
    /* or 35px */
    display: flex;
    align-items: center;
    letter-spacing: 0.06em;
    margin-bottom: 0px;
}

.cozy-house_pets {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: $color-dark-grey-text;
    font-weight: 400;
    font-size: 3.2rem;
    line-height: 110%;
    /* or 35px */
    display: flex;
    align-items: center;
    letter-spacing: 0.06em;
    margin-bottom: 0px;
}

.logo-ps_pets {
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 1.3rem;
    line-height: 15px;
    letter-spacing: 0.1em;
    color: $color-dark-grey-link;
}

.logo-ps {
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 1.3rem;
    line-height: 15px;
    letter-spacing: 0.1em;
    color: $color-light;
}

.header {
    /* display: flex; */
    // position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}

.header_logo_link {
    display: flex;
    flex-direction: column;
}

.header-pets {
    /* display: flex; */
    // position: fixed;
    background-color: $color-light;
    top: 0;
    left: 0;
    width: 100%;
}

.header_wrapper {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    // padding-top: 30px;
    // padding-top: 64px;
    // height: 60px;
}

.header_list {
    display: flex;
    flex-wrap: wrap;
    justify-items: flex-end;
}

.header_item {
    margin-right: 35px;
}

.header_item:last-child {
    margin-right: 0px;
}

.header_link:first-of-type {
    color: color-light-link;
    /* color-primary */
    border-bottom: 3px solid $color-peach;
}

.header_link {
    /* width: 58px;
    height: 24px; */
    color: $color-link;
    font-weight: 400;
    font-size: 1.5rem;
    line-height: 160%;
}

.header_link_pets {
    color: $color-dark-grey-text;
}

.header_link_pets:nth-of-type(2) {
    /* color-primary */
    border-bottom: 3px solid $color-peach;
}

.header_link:hover,
.header_link:focus,
.header_link:active {
    opacity: .75;
}