.help_title {
    width: 308px;
    /* h3 */
    font-family: 'Georgia';
    font-style: normal;
    // font-weight: 400;
    font-size: 3.5rem;
    line-height: 130%;
    /* or 45px */
    // letter-spacing: 0.06em;
    width: 330px;
    text-align: center;
    /* color-dark-l */
    color: $color-dark-grey-text;
    padding-top: 80px;
    padding-bottom: 60px;
    @include media-mobilesmall {
        padding-top: 42px;
        padding-bottom: 42px;
        font-size: 2.5rem;
    }
}

.help_list {
    display: flex;
    // padding-left: 127px;
    // padding-right: 127px;
    flex-wrap: wrap;
    gap: 120px;
    justify-content: center;
    padding-bottom: 100px;
    @include media-mobilesmall {
        padding-bottom: 42px;
    }
}

.item_picture {
    @include media-mobilesmall {
        max-width: 51px;
        // max-height: 50px;
    }
}