$color-peach:#F1CDB3;
$color-peach-light:#FDDCC4;
$color-dark-gray:#5C5C5C;
$color-light:#FFFFFF80;
$color-dark-grey-text:#545454;
$color-dark-grey-link:#292929;
$color-black:#000000;
$color-light:#FFFFFF;
$color-light-link:#FAFAFA;
$color-background:#F6F6F6;
$color-link:#CDCDCD;
$color-about-text:#4C4C4C;
$color-donation-text:#B2B2B2;
//
$content-widht:1280px;
$tablet-width:768px;
$mobile-big-width:414px;
$mobile-small-width:320px;
//
$font-stack: ('Georgia', 'Arial', sans-serif);