.header-screen {
    background: url(../../../assets/images/start-screen-background.svg) no-repeat center;
    background: url(../../../assets/images/start-screen-gradient-background.svg) no-repeat center;
    background-size: cover;
}

.cozy-house {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: $color-peach;
    font-weight: 400;
    font-size: 3.2rem;
    line-height: 110%;
    /* or 35px */
    display: flex;
    align-items: center;
    letter-spacing: 0.06em;
    margin-bottom: 0px;
}

.cozy-house_pets {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: $color-dark-grey-text;
    font-weight: 400;
    font-size: 3.2rem;
    line-height: 110%;
    /* or 35px */
    display: flex;
    align-items: center;
    letter-spacing: 0.06em;
    margin-bottom: 0px;
}

.logo-ps_pets {
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 1.3rem;
    line-height: 15px;
    letter-spacing: 0.1em;
    color: $color-dark-grey-link;
}

.logo-ps {
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 1.3rem;
    line-height: 15px;
    letter-spacing: 0.1em;
    color: $color-light;
}

.header {
    /* display: flex; */
    // position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}

.header_logo_link {
    display: flex;
    flex-direction: column;
}

.header_logo {
    z-index: 1;
}

.header-pets {
    /* display: flex; */
    // position: fixed;
    background-color: $color-light;
    top: 0;
    left: 0;
    width: 100%;
}

.header_wrapper {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    // padding-top: 30px;
    // padding-top: 64px;
    // height: 60px;
}

.header_list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    // flex-wrap: wrap;
    // justify-items: flex-end;
    @include media-mobile {
        // display: none;
        position: fixed;
        margin-top: 150px;
        left: 100%;
        top: 9rem;
        flex-direction: column;
        // background-color: $color-dark-grey-link;
        width: 100%;
        // border-radius: 10px;
        text-align: center;
        transition: 1s;
        row-gap: 40px;
        // box-shadow: 0 10px 27px rgba(0, 0, 0, 0.05);
        // background-image: url(../../../assets/images/footer-background.svg);
    }
}

.header_list.active {
    left: 0;
}

.header_item {
    margin-right: 35px;
}

.header_item:last-child {
    margin-right: 0px;
}

.header_item:first-of-type {
    color: color-light-link;
    /* color-primary */
    border-bottom: 3px solid $color-peach;
}

.header_link {
    /* width: 58px;
    height: 24px; */
    color: $color-link;
    font-weight: 400;
    font-size: 1.5rem;
    line-height: 160%;
    @include media-mobile {
        font-size: 3.2rem;
        line-height: 160%;
    }
}

.header.active {
    background-color: aqua;
}

.header_link_pets {
    color: $color-dark-grey-text;
}

.header_item_pets:nth-of-type(2) {
    /* color-primary */
    border-bottom: 3px solid $color-peach;
}

.header_link:hover,
.header_link:focus,
.header_link:active {
    opacity: .75;
}

// .header-screen.active {
//     background-color: $color-dark-grey-link;
//     overflow: hidden;
// }
@include media-mobile {
    .header-screen.active {}
    .menu__body {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        transform: translate(-100%, 0px);
        background-color: rgba(0, 0, 0, 0.9);
        padding: 100px 30px 30px 30px;
        transition: left 0.3s ease 0s;
        overflow: auto;
        // background-color: $color-dark-grey-link;
    }
    .menu__body.active {
        transform: translate(0px, 0px);
    }
}